<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level From class:%logger{36} - method:%M [MJC School][VictorDz] ---> %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="jdbc" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>